:root {
  --color-principal: #0a0926;
  --color-secundario: #048998;
  --color-terciario: #ffff;
  --color-cuaternario: #69e5f2;
  --color-quinario: #f5f5f5;
  --color-sextenario: #0a0926de;
  --color-septenario: #0489988d;
  --color-octonario: #808080;
  --color-novenario: #69697157;

  --fuente-principal: Arial, sans-serif;

  --tamano-fuente-h1: 20px;
  --tamano-fuente-h2: 18px;
  --tamano-fuente-h3: 16px;
  --tamano-fuente-p: 14px;

  --tamano-logo: 50%;
  --ancho-logo: 50%;
  --ancho-input-texto: 300px;
  --tamano-logose: 100px;
  --ancho-logose: 150px;
  --margen-general: 10px;
  --padding-general: 10px;
  --radio-borde-general: 10px;

  --tamano-fuente-h1-banner: 36px;
  --tamano-fuente-h2-banner: 28px;
  --ancho-button-cv: 200px
}
